 {
  "presets": [["@babel/preset-env",
    { 
      "corejs": "2", 
      "useBuiltIns": "usage" //按需引入
    }
  ]],
  "plugins": [  
    "@babel/plugin-transform-runtime",
    // ["import", {//按需引入vant官网配置
    //   "libraryName": "vant",
    //   "libraryDirectory": "es",
    //   "style": true
    // }]
  ]
}